<!doctype html>
<html lang="en" data-framework="angularjs">
	<head>
		<meta charset="utf-8">
		<title>AngularJS • TodoMVC</title>
		<link rel="stylesheet" href="/app/static/todomvc-app-css/index.css">
		<style>[ng-cloak] { display: none; }</style>
	</head>
	<body ng-app="todomvc">
		<ng-view />
		<script src="/app/static/angular/angular.min.js"></script>
		<script src="/app/static/angular-route/angular-route.js"></script>
		<script src="/app/static/angular-resource/angular-resource.js"></script>
		<script src="/app/js/miniapp.js"></script>
	</body>
</html>
